:root{
    --dark-brown: #65451F;
    --light-beige: #f5d4aa;
    --main-green: #61764B;
    --Bright: #FCC2FC;
}
@font-face {
    font-family:"main";
    src: url(../fonts/Young_Serif/YoungSerif-Regular.ttf);
}
@font-face {
    font-family:"body";
    src: url(../font-body/Nunito/Nunito-VariableFont_wght.ttf);
}
html{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    padding: 0;

}
header{
    background-color: var(--main-green);
    
}
/**********navagation*********/
#menu{
    list-style-type: none;
    display: flex;
    gap: 1.25rem;
    justify-content: end;
    font-family: "main";
    
}
#menu a{
    text-decoration: none;
    color: var(--light-beige);
    padding: 1.25rem 0;
    font-family: "main";
    gap: 1.25rem;
    justify-content: end;
}
nav{
    padding: .625rem;
    
}
#menu-toggle{

    display: none;
    background-color: var(--main-green);
    color: var(--light-beige);
    border: none;
    font-family: "main";
}
#menu.active{
display: flex;

}
/**********hero*********/
.hero{
   min-height: 25rem;
   background-image: url(..../img/herooooo.jpg);
   display: flex;
   justify-content: center;
   background-position: bottom;
   background-size: cover;
   color: var(--light-beige);
   font-family: "main";
   align-items: center;

}
.hero h1{
    color: var(--Bright);
    background-color: var(--dark-brown);
    padding: .625rem;
    border-radius: 1.25rem;
}

/**********aboutus*********/
#about{
    position: relative;
    display: flex;
    flex-direction: row;
    flex: .625rem;
    flex-wrap: wrap ;
    min-height: 100%;
    background-color: var(--light-beige);
}
.about{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: right;
    right: 2px;
    padding-left: .125rem;
}
.about-img{
padding: .25rem;
z-index: 100;
}
.about-img img{
    padding: .625rem;
    width: 50%;
    border-radius: 2.5rem;
}

.about p{
    text-align: left;
    font-family: "body";
}
.about h1{
    font-family: "main";
    color: var(--dark-brown);
    right: 1.25rem;
    font-size: 3.125rem;
}

/**********Gallery*********/
section{
    display: block;
    margin-top: none;
    padding: none;
}
.gallery{
    background-color: var(--main-green);
    margin-top: 0;
    
}
.gallery-images{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: .625rem;
    padding: .625rem;
}
.gallery-images img{
    width: 100%;
    height: 100%;
    object-fit: cover ;
    border-radius: .625rem;
}
.gallery  h3{
 background-color: var(--dark-brown);
 color: var(--Bright);
 text-align: center;
 font-family: "main";
 padding: 1.25rem;
 margin-top: 0;
 font-size: 1.875rem;
}

/**********contact*********/
#contact  h1{
    background-color: var(--light-beige);
    color: var(--dark-brown);
    text-align: center;
    font-family: "main";
    padding: 1.25rem;
    margin-top: 0;
    font-size: 1.875rem;
   }
#contact{
    background-color: var(--light-beige);
    min-height: 2.5rem;
    position: relative;
    padding: .625rem;
}
 form {
    max-width: 80%;
    margin: 1.5625rem;
    padding-top: 1.25rem;
    padding: 1.25rem;
    justify-content: center;
    font-family: "body";
    float: right;
    background-color: var(--main-green);
    color: var(--light-beige);
 }

 form input,
 form textarea {
    width: 100%;
    font-size: 1.25rem;
    border: .1875rem solid var(--dark-brown);
    justify-content: right;
    margin: .9375rem;
    box-sizing: border-box;
    font-family: "body";
    float: right;
 }

 .socials-links{
    background-color: var(--light-beige);
    margin-top: 0;
    
}
.socials-links{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: .0187rem;
    padding: .125rem;
}
.socials-links img{
    width: 70%;
    height: 100%;
    object-fit: contain;
    border-radius: none;
}
/**********footer*********/
.footer{
    margin-top: 0%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--main-green);
    color: var(--light-beige);
    align-items: center;
    list-style-type: none;
    display: flex;
    gap: .625rem;
    width: 100%;
    padding: .625rem;
}
.footer a{
    background-color: var(--main-green);
    color: var(--light-beige);
    list-style-type: none;
    font-family: "main";
    padding-left: 1.25rem;
}
.footer h3{
    font-size: 1.875rem;
}








/**********Ipads*********/
@media screen and (max-width: 51.25rem){
    #menu-toggle{
        display: block;
        position: fixed;
        z-index: 100000;
    }
    #menu{
        display: none; 
        position: fixed;
        z-index: 100000;
        flex-direction: column;
        background-color: var(--main-green);
        padding: .625rem;
        
    }
/********about***********/
    #about{
        position: relative;
        display: flex;
        flex-direction: row;
        flex: .625rem;
        height: 120vh;
        background-color: var(--light-beige);
    }

     .about{
        margin-top: 31.25rem;
     }

    .about-img{
        display: block;
        align-items: center;
        justify-content: center;
        align-content: center;
        left: 12.5rem;
        position: relative;
    }
    .about p{
        text-align: center;
        font-size: 10pt;
        font-family: "body";}

     .about h1{
            text-align: center;
            font-size: 40pt;
            font-family: "main";}
/********gallery***********/
.gallery-images{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: .625rem;
    padding: .625rem;}
/********contactme***********/
#contact{
    background-color: var(--light-beige);
    min-height: 37.5rem;
    position: relative;
    padding: .625rem;
}
}


 /**********iphone*********/
@media screen and (max-width: 30em) {
    /**********navagation*********/
    #menu-toggle{
        display: block;
        position: fixed;
        z-index: 100000;
    }
    #menu{
        display: none; 
        position: fixed;
        z-index: 100000;
        flex-direction: column;
        background-color: var(--main-green);
        padding: .625rem;
        
    }
    
    /**********aboutme*********/
    #about{
        position: relative;
        display: flex;
        flex-direction: row;
        flex: .625rem;
        
        height: 80vh;
        background-color: var(--light-beige);
    }

     .about{
        margin-top: 12.5rem;
     }

    .about-img{
        display: block;
        align-items: center;
        justify-content: center;
        align-content: center;
        left: 3.75rem;
        
        position: relative;
    }
    .about p{
        text-align: center;
        font-size: 10pt;
        font-family: "body";}

     .about h1{
            text-align: center;
            font-size: 25pt;
            font-family: "main";}
   /**********gallery*********/
   .gallery-images{
    display: grid;
    grid-template-columns: 1fr ;
    grid-gap: .625rem;
    padding: .625rem;}

    /**********footer*********/
.footer a{
    background-color: var(--main-green);
    color: var(--light-beige);
    list-style-type: none;
    font-family: "main";
    padding-left: 1.25rem;
}
.footer h3{
    font-size: 1.25rem;
}
.footer{
    width: fit-content;
}
}


 